doctype 5
html
  head
    title RGB Led
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    #left
      h1 RGB Led, Bombillin
      hr

      h3 Pick your color color:
        input#colorpicker(class="color {onImmediateChange:'setColor(this);', pickerMode:'HVS'}")

  script(src="/socket.io/socket.io.js")
  script(src="/vendor/jscolor/jscolor.js")
  script(src="/js/set_rgb_color.js")